$color-primary: #102050;
$color-secondary: #025bc5;
$text-color-for-dark-background: white;
$btn-background-primary-mat: #3911c9;
$btn-color-primary-mat: #ffffff;
$btn-color-edit-mat: rgb(244, 148, 13);
$drag-preview-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
$table-border-color: #ccc;
$color-transparent: transparent;
$layout-content-color: #E9E9E9;

$login-main-background-color: #a2baff;
$login-card-input-underline-color: #868686;
$login-card-input-ripple-color: #157cfc;
$login-card-text-color: white;
$login-card-button-background-color: #fc434f !important;
$login-card-background-color: #04154c;
$login-card-border-color: #c3c3c3;
$login-card-shadow-color: #cd6767;

$card-background-color: #fff;
$card-text-color: rgba(0,0,0,.87);
$card-title-background-color: #e8e8e8;
$card-box-shadow-color: rgba(0,0,0,0.2);
$card-hover-box-shadow-color: rgba(0,0,0,0.4);
$check-positive-color-icon: #025BC5;
$check-positive-color-icon-feedBack: #2fce2f;
$check-negative-color-icon: #FD444F;
$check-disabled-color-icon: #686868;
$modal-close-btn-color: rgb(150, 149, 149);
$modal-hover-close-btn-color: rgb(211, 211, 211);
$list-title-container: #265388;

$drag-and-drop-item-disabled: #ccc;

/* variables for the color palette */
$primary-color-blue: #025BC5;
$primary-color-white: #ffffff;
$primary-color-dark-blue:#0C1C4D;
$primary-color-pink: #FEADD5;
$primary-color-red: #FF0000;
$primary-color-green: #228B22;
$primary-color-crimson: #ed4a4a;
$secondary-color-coral-red: #FD444F;
$toolbar-background-color: #004a9f;
$toolbar-sidenav-text-color: white;
$sidenav-background-color: #002b5c;
$sidenav-line-devider-background-color: rgba(255, 255, 255, 0.5);
$sidenav-roles-text-color: lightgrey;
$box-user-selected-background: whitesmoke;
$box-user-selected-text-color: #565656;
$box-new-trainee-background: #fafafa;
$box-new-trainee-border: #cccccc;
$modal-title-text-color: #265388;










$nav-background-color: #e7e8e9;
$nav-text-color: #9b9b9b;
$main-background-color: #f6f6f6;


$btn-border-primary-mat: #2f738b;
$btn-border-warn-mat: #a82d26;
$header-start-gradient-color: #2B738C;
$header-end-gradient-color: #47AC98;
$boder-section-color: #d2d2d2;
$icon-blue-color: #007ace;
$icon-red-color: #e74a41;
$label-error: #F44336;
$toggle-bar-error: rgba(210, 51, 39, 0.41);
$toggle-thumb-error: #E46E6E;
$text-option-side-nav-color: #8090A5;
$text-selected-option-color: #69BAA9;
$border-crud-section-color: #C8C8C8;
$pickuptime-background-color: #47ad98;
$backbround-transparent-color: transparent;
$label-select-color:#afafaf;