$btn-primary-mat-size: 12pt;
$btn-primary-mat-hover-size: 14pt;
$sidenav-roles-text-size: 0.7rem;
$sidenav-name-text-size: 14pt;
$sidenav-avatar-image-width: 100px;
$sidenav-avatar-image-height: 100px;
